:root {
  --WHITE: #fff;
  --ALMOST-WHITE: hsl(0, 0%, 98%);
  --MEDIUM-GRAY: hsl(0, 0%, 41%);
  --ALMOST-BLACK: hsl(0, 0%, 8%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--ALMOST-WHITE);
}
