:root {
  --WHITE: #fff;
  --ALMOST-WHITE: hsl(0, 0%, 98%);
  --MEDIUM-GRAY: hsl(0, 0%, 41%);
  --ALMOST-BLACK: hsl(0, 0%, 8%);
  --LINK-COLOR: hsl(228, 45%, 44%);

  --SHADOW: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--ALMOST-WHITE);
  line-height: 1.5;
}

body,
button {
  font-size: clamp(1rem, 2vw, 18px);
}

#root {
  max-width: 1440px;
  margin: auto;
}
